/* For Hover effect on headings */

.nav-item{
   position: relative;
    display: inline-block;
    cursor: pointer;
}
.nav-tip {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 8px;
    transform: translateX(-50%);
    border: transparent;
    border-radius: 8px;
    background: #dbdada;
    color: rgb(21, 20, 20);
    padding: 5px 8px;
    font-size: 12px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.9s ease;
}
.nav-item:hover .nav-tip{
    visibility: visible;
    opacity: 1;
}


/* common */

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  overflow-x: hidden;
}
/* Mobile Styles (Max-width: 480px) */

@media (max-width: 480px) {

/* background */

.backgroundmedia {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    position: fixed;
    top: 0;
    left: 0;
  }
  #Homemedia {
    flex-direction: column !important;
    width: 90% !important;
    margin: 10px  !important;
    height: auto !important;
  }

  #searchmedia {
    width: 40% !important;
    margin: 10px 5px !important;
    border-radius: 24px 24px 24px 24px !important; 
  }

  .searchwidth{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searchwidthimg{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  
  #weekly-container {
    width: 40% !important;
    border-radius: 24px 24px 24px 24px !important;
    padding: 20px !important;
    margin: 10px 5px;
  }
  .weeklymedia{
    width: 100% !important;
  }
  .gap-2{
    display: flex;
    gap:1px;
  }
.nav-item{
  padding-left: 2px !important;
}
  .grid-cols-7 {
    display: flex !important;
    overflow-x: auto;
    gap: 30px;
    padding-bottom: 10px;
    -webkit-overflow-scrolling: touch;
  }

  .grid-cols-7 > div {
    min-width: 100px; 
    margin-top: auto;
  }

  .grid-cols-3 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    gap: 10px;
    margin: 10px;
  }
}
